<?xml version="1.0" encoding="UTF-8"?>
<configuration> 
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
    
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
      <fileNamePattern>d:/log/dmucms/dmucms-%d{yyyy-MM-dd}.log</fileNamePattern> 
      <maxHistory>365</maxHistory>  
    </rollingPolicy> 
 
    <encoder> 
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern> 
    </encoder> 
  </appender> 
  
  <logger name="jdbc.sqlonly" level="FATAL" />
  <logger name="jdbc.resultsettable" level="FATAL" /> 
 
  <root level="INFO"> 
    <appender-ref ref="FILE" /> 
  </root> 
</configuration>
